* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.HomePageContainer {
  background-color: #262d31;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  /* border: 3px solid green; */
  flex-direction: column;
}
.HomepageImage {
  width: 35%;
}
.HomepageHeading {
  margin: 15px 0px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  opacity: 0.7;
}
.HomepageParagraph {
  margin: 5px 0px;
  font-size: 15px;
  padding: 10px 20px;
  opacity: 0.5;
}
.horizontalLine {
  width: 80%;
  margin: 10px 0px;
  border-top: 1px solid #3d4347;
}
.HomepageWindowDownload {
  margin: 10px;
  font-size: 14px;
  opacity: 0.5;
}
div.HomepageWindowDownload a {
  color: rgb(2, 228, 179);
}
